@font-face {
  font-family: "Whitney Light";
  src: url("./assets/fonts/whitneylight.woff") format("woff");
}

@font-face {
  font-family: "Whitney Medium";
  src: url("./assets/fonts/whitneymedium.woff") format("woff");
}

@font-face {
  font-family: "Whitney Bold";
  src: url("./assets/fonts/whitneybold.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --light-clr: #fff;
  --dark-clr: #23272a;
  --brand-clr: #7289da;
  --off-white-clr: #f6f6f6;
  --general-font-size: 2rem;
  --primary-title-font-size: 4.8rem;
  --secondary-title-font-size: 4rem;
  --main-font-family-light: "Whitney Light", sans-serif;
  --main-font-family-medium: "Whitney Medium", sans-serif;
  --main-font-family-bold: "Whitney Bold", sans-serif;
  --num-of-grid-columns: 4;
  --section-spacing: 5.6rem 2.4rem;
  --container-width: 126rem;
}

body {
  font-size: var(--general-font-size);
  font-family: var(--main-font-family-light);
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  max-width: 100%;
  display: block;
}

.hero {
  background: url(./assets/images/hero-bg.jpg) center/cover;
}

.main-header {
  height: 8rem;
  padding: 0 2.4rem;
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
}

.main-nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 12.4rem;
}

.nav-list {
  display: none;
}

.nav-item-right {
  display: flex;
  align-items: center;
}

.btn:hover {
  box-shadow: 0 0.8rem 1.5rem rgba(0, 0, 0, 0.2);
}

.btn-small {
  font-size: 1.4rem;
  padding: 0.7rem 1.6rem;
  border-radius: 4rem;
}

.btn-light {
  background-color: var(--light-clr);
  color: var(--dark-clr);
}

.btn-light:hover {
  color: var(--brand-clr);
}

.btn-login {
  margin-right: 1.6rem;
  line-height: 1.8rem;
}

.mobile-toggle {
  display: flex;
  font-size: 3.6rem;
  color: var(--light-clr);
  cursor: pointer;
}

.btn-close {
  display: none;
}

.row {
  display: grid;
  grid-template-columns: repeat(var(--num-of-grid-columns), 1fr);
  gap: 0 2rem;
  padding: var(--section-spacing);
}

.hero-content-wrap {
  grid-column: span var(--num-of-grid-columns);
  color: var(--light-clr);
}

.title {
  font-family: var(--main-font-family-bold);
}

.primary-title {
  font-size: var(--primary-title-font-size);
  line-height: 120%;
}

.hero-description {
  line-height: 3.2rem;
  margin-top: 2.4rem;
}

.hero-btn-group .btn-light {
  margin: 2.4rem 2.4rem 0 0;
  display: inline-flex;
}

.hero-btn-group .btn-light i {
  align-self: center;
  margin-right: 0.8rem;
}

.btn-large {
  padding: 1.6rem 3.2rem;
  border-radius: 2.8rem;
}

.btn-dark {
  background-color: var(--dark-clr);
  color: var(--light-clr);
  margin-top: 2.4rem;
  transition: background-color 0.5s;
}

.btn-dark:hover {
  background-color: #36393f;
}

/* Collaboration */

.grid-image {
  margin-top: 2.4rem;
  grid-column: span 4;
}

.text-group {
  margin-top: 2rem;
  grid-column: span 4;
}

.secondary-title {
  font-size: var(--secondary-title-font-size);
}

.text-group p {
  margin-top: 2rem;
  line-height: 3.2rem;
}

/* Voice-channel */
.voice-channel {
  background-color: var(--off-white-clr);
}

.wave {
  color: var(--off-white-clr);
  display: block;
}

.wave-path {
  animation: wave-animation 20s linear infinite alternate;
}

@keyframes wave-animation {
  0% {
    d: path(
      "M826.337463,25.5396311 C670.970254,58.655965 603.696181,68.7870267 447.802481,35.1443383 C293.342778,1.81111414 137.33377,1.81111414 0,1.81111414 L0,150 L1920,150 L1920,1.81111414 C1739.53523,-16.6853983 1679.86404,73.1607868 1389.7826,37.4859505 C1099.70117,1.81111414 981.704672,-7.57670281 826.337463,25.5396311 Z"
    );
  }
  50% {
    d: path(
      "M655.558582,28.4898877 C500.191373,61.6062216 422.833785,83.5422763 266.940085,49.8995879 C112.480383,16.5663637 84.0992497,8.02840272 0,44.7243294 L0,150.727527 L1920,150.727527 L1920,49.8995879 C1580.91676,-34.8808285 1438.10804,73.6768193 1148.0266,38.0019829 C857.945166,2.32714659 810.925791,-4.62644617 655.558582,28.4898877 Z"
    );
  }
  100% {
    d: path(
      "M842.322034,38.0019829 C686.954825,71.1183168 623.386282,53.08497 467.492582,19.4422816 C313.032879,-13.8909426 84.0992497,8.02840272 0,44.7243294 L0,150.727527 L1920,150.727527 L1920,76.8685643 C1512.23604,-35.3595639 1568.70222,67.4289432 1278.62078,31.7541069 C988.539347,-3.92072949 997.689243,4.88564905 842.322034,38.0019829 Z"
    );
  }
}

.wave-inverted {
  transform: matrix(1, 0, 0, -1, 0, 0);
}

/* Video call */

.video-call {
  background-color: var(--off-white-clr);
}

.video-call .row {
  padding-bottom: 8rem;
}

.video-call .text-group {
  grid-column: span var(--num-of-grid-columns);
  margin-top: 0;
}

.video-call .text-group p {
  margin-top: 2.4rem;
}

.video-call .grid-image {
  width: 100%;
  grid-column: span var(--num-of-grid-columns);
  margin-top: 2.4rem;
}

/* Download */
.download {
  background-color: var(--off-white-clr);
}

.download .remove-grid {
  display: block;
  padding-top: 0;
  text-align: center;
}

.sparkles {
  display: inline-block;
}

.download h2 {
  font-size: 3.2rem;
  font-family: var(--main-font-family-medium);
}

.btn-brand {
  background-color: var(--brand-clr);
  color: var(--light-clr);
  transition: background-color 0.5s;
}

.download .btn-brand {
  margin-top: 4rem;
}

.btn-brand:hover {
  background-color: #8ea1e1;
}

/* footer */
.main-footer {
  background-color: var(--dark-clr);
  color: var(--light-clr);
  padding: 8rem 2.4rem 6.4rem;
}

.main-footer .row {
  padding: 0;
}

.info-box {
  grid-column: span 4;
  margin-bottom: 5.6rem;
}

.footer-title {
  color: var(--brand-clr);
}

.info-box .footer-title {
  font-size: 3.2rem;
  font-family: var(--main-font-family-medium);
}

.languages {
  margin: 2.4rem 0;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
}

.languages img {
  width: 2.4rem;
}

.languages span {
  margin: 0 0.8rem;
}

.sm-link {
  font-size: 2.3rem;
  color: inherit;
  margin-right: 2rem;
}

.spacer {
  display: none;
}

.footer-links-group {
  margin-bottom: 4rem;
  font-size: 1.6rem;
  grid-column: span 2;
}

.footer-links-group .footer-title {
  font-size: inherit;
  padding-top: 0.8rem;
  font-weight: 100;
}

.footer-link {
  display: block;
  margin-top: 1.2rem;
  color: inherit;
}

.footer-link:hover {
  text-decoration: underline;
}

.divider {
  grid-column: 1/-1;
  height: 1px;
  background-color: var(--brand-clr);
  margin-bottom: 3.2rem;
}

.main-footer .remove-grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-footer .btn-brand {
  line-height: 1.8;
}

@media screen and (min-width: 768px) {
  :root {
    --primary-title-font-size: 5.6rem;
    --secondary-title-font-size: 4.8rem;
    --num-of-grid-columns: 8;
    --section-spacing: 8rem 4rem;
  }

  .hero {
    min-height: 62.6rem;
  }

  .hero-content-wrap {
    grid-column: span 5;
  }

  .hero-description {
    margin: 4rem 0 0.8rem;
  }

  .grid-image {
    margin: auto 0;
  }

  .text-group {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .order-1 {
    order: 1;
  }

  .order-2 {
    order: 2;
  }

  .video-call {
    text-align: center;
  }

  .info-box {
    grid-column: span 3;
    grid-row: span 2;
  }

  .spacer {
    display: block;
    grid-row: span 2;
  }
}

@media screen and (min-width: 1024px) {
  :root {
    --num-of-grid-columns: 12;
    --section-spacing: 12rem 4rem;
  }

  .nav-list {
    display: flex;
    list-style: none;
  }

  .nav-link {
    font-size: 1.6rem;
    color: var(--light-clr);
    margin: 0 1rem;
    padding: 1rem;
    font-weight: bold;
  }

  .nav-link:hover {
    text-decoration: underline;
  }

  .hero-content-wrap {
    grid-column: 3 / span 8;
    text-align: center;
  }

  .mobile-toggle {
    display: none;
  }

  .grid-image {
    grid-column: span 7;
    margin: 0;
  }

  .text-group {
    grid-column: 9/-1;
  }

  .order-1 {
    grid-column: 1 / span 4;
  }

  .order-2 {
    grid-column: 6/-1;
  }

  .video-call .text-group {
    grid-column: 2 / span 10;
  }
}
